flask            # Web framework and development server`
Flask-HTTPAuth   # Basic Auth
Flask-Cors       # Cross-Origin Resource Sharing
watchdog         # Autoreload development server when changes are made
python-dotenv    # Load .env (and .flaskenv if applicable)
gunicorn         # Production web server
psycopg2-binary  # PostgreSQL client
